<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Registration</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">
    <label for="username">Придумайте имя пользователя: </label>
    <br/>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <br/>
    <label for="password">Придумайте пароль</label>
    <br/>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label for="name">Введите ваше имя</label>
    <br/>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="surname">Введите вашу фамилию</label>
    <br/>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <br/>
    <label for="age">Введите ваш возраст</label>
    <br/>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <label>Role</label>
    <div th:each="role : ${roles}">
        <label>
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
        </label>
        <span th:text="${role.name}"></span>
    </div>
    <br/>
    <input type="submit" value="Sign up"/>
    <br>
    <br>
    <br>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>