<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Admin panel </title>

</head>
<body>
<br>
<br>
<div>
All Users
    <table border="1">
        <thead>
        <tr>
            <th style="width: 40px"> Username </th>
            <th>Roles</th>
            <th style="width: 40px"> Name </th>
            <th style="width: 40px"> Surname </th>
            <th style="width: 40px">  Age </th>
            <th style="width: 90px"> Option </th>
        </tr>
        </thead>
        <tbody>
            <tr  th:each="user : ${users}">
            <td  th:utext="${user.username}">...</td>
                <td  th:utext="${user.roles}">...</td>
            <td  th:utext="${user.name}">...</td>
            <td  th:utext="${user.surname}">...</td>
            <td  th:utext="${user.age}">...</td>
            <td style="display: flex">
                <form th:action="@{admin/editUser}">
                    <button type="submit" th:name="id" th:value="${user.id}">Edit</button>
                </form>

                <form method="post" th:action="@{admin/deleteUser}">
                    <button type="submit" th:name="id" th:value="${user.id}">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <a class="btn btn-primary mb-3" href="admin/addUser"></a>
    <input type="button" value="Add User"
    onclick="window.location.href = 'admin/addUser'"/>
    <br>
    <br>
    <br>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>